body {
  width: 1000px;
  margin: auto;
  padding-top: 20px;
}
.not-found-page {
  text-align: center;
}
.error {
  color: red;
}
.filters {
  margin-top: 20px;
  display: flex;
}
.filter-item {
  width: 250px;
  margin-right: 50px;
}
.query-inp {
  width: 300px !important;
}
.sort-inp {
    width: 200px !important;
}
.rewards {
  margin-top: 30px;
}
.rewards-edit {
  width: 300px;
}